dest/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>Lesson A</title><link rel="stylesheet" href="index.css"></head><body><div class="header"><div class="header_title">Hello, World!</div><ul class="menu"><li class="menu_item"><p class="menu_paragraph">Lorem</p></li><li class="menu_item"><p class="menu_paragraph"><a class="menu_link" href="#">Ipsum<span class="menu_counter">42</span></a></p></li><li class="menu_item"><p class="menu_paragraph">Parabellum</p></li></ul></div><div class="content"><div class="form"><div class="form_inputWrapper"><input class="form_input" type="text" placeholder="Что искать?"></div><div class="form_buttonWrapper"><button class="form_button">Поехали!</button></div></div></div><div class="footer"><a class="footer_logo" href="#"></a></div></body></html>

src/index.pug
doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Lesson A
        link(rel='stylesheet' href='index.css')
    body
        .header
            .header_title Hello, World!
            ul.menu
                li.menu_item
                    p.menu_paragraph Lorem
                li.menu_item
                    p.menu_paragraph
                        a.menu_link(href="#") Ipsum
                            span.menu_counter 42

                li.menu_item
                    p.menu_paragraph Parabellum
        .content
            .form
                .form_inputWrapper
                    input.form_input(type="text", placeholder="Что искать?")
                .form_buttonWrapper
                    button.form_button Поехали!
        .footer
            a.footer_logo(href="#")
